/*====== Fonts ======*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');


/*====== Variables ======*/
:root {
  --yellow: #EAC926;
  --dark-blue: #03264C;
  --light-blue: #1259c3;
  --gray: #666666;
  --light-gray: #ebebeb;
  --green: #39b54a;
  --base-font-family: 'Roboto', sans-serif
}


/*====== Basics ======*/
* {
  box-sizing: border-box;
}

html,
body {
  background-color: #1b1a18;
  min-height: 100vh;
  margin: 0;
  font-size: 16px;
}

.navbar {
  font-family: var(--base-font-family);
  background-color: var(--light-gray);
  padding: 15px;
  border-radius: 20px;
  margin: 16px;
}
