<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head', {title: 'Inicio'}) %>
<body>
    <%- include('partials/navbar.ejs') %>

    
    <main >
        <div class="container " style="background-image: url('https://d1u4v6449fgzem.cloudfront.net/2020/03/How-to-Set-up-a-Shopify-Store-Quickly.png'); background-size: cover; background-position: center;">
            <div class="p-5 mb-4 bg-body-secondary bg-opacity-25   rounded-3">
                <div class="container-fluid justify-content-center  py-5">
                    <h1 class="display-5 fw-bold text-center  ">Bienvenido a Digital House</h1>
                    <p class="col-md-12 fs-4  text-center  ">Ejercicio Digital House - Fullstack</p>
                    <div class="d-grid col-6 mx-auto">
                        <button class="btn btn-dark  btn-lg align-content-center " type="button">Explorar</button>
                    </div>
                </div>
            </div>          
        </div>
    </main>
    
    <%- include('partials/footer.ejs')  %>
</body>
</html>