<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Crear Productos</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Todos los Productos</a></li>
            </ul>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav align-items-center">
                <% if (locals.isLoged) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="user" class="rounded-circle" width="30" style="border-radius: 100%;">
                            <%= locals.userLog.username %>
                        </a>
                        <ul class="dropdown-menu pe-3" aria-labelledby="dropUser">
                            <a class="dropdown-item" href="/users/perfil">Profile</a>
                            <li><hr class="dropdown-divider"></li>
                            <a class="dropdown-item" href="/users/logout">Logout</a>
                        </ul>
                    </li>
                <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/users/registro">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="/users/login">Login</a></li>
                <% } %>
            </ul>
            <form action="/results" method="GET" class="d-flex" role="search">
                <input class="form-control me-2" type="search" name="search"  placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary " type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

